body{
background-color:black; 
color:white; 
}
button{
margin-top:30px;
margin-left:10px;
background-color:lightblue; 
color:blue;
font-size:24px;
padding-top:15px;
padding-bottom:15px;
width:90%;
border-radius:5px;
}
input{
margin-top:30px;
margin-left:10px;
background-color:lightblue; 
color:blue;
font-size:24px;
padding-top:15px;
padding-bottom:15px;
width:90%;
border-radius:5px;
}
#kar{
margin-right:auto;
margin-left:auto;
margin-bottom:15px;
padding-top:10px;
border:double 5px #e0d5e0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
height:90px;
width:500px;
}
#kar1{

margin-right:auto;
margin-left:auto;

padding-top:10px;
border:double 5px #e0d5e0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
height:90px;
width:500px;
}
#karty{

margin-left:22.5px;
margin-right:22.5px;
height:70px;
width:45px;
border:double 5px #e0d5e0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
float:left;
}
#karty1{
text-align:center;
margin-left:22.5px;
margin-right:22.5px;
height:70px;
width:45px;
border:double 5px #e0d5e0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
float:left;
}
#zeton{
margin-right:auto;
margin-left:auto;
margin-bottom:15px;
width:300px;
height:90px;
				
border:double 5px #e0d5e0;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
font-size: 40px;
text-align: center;
color: white;
}
#plansza
{
margin-left:30px;
margin-right:30px;

}
#stol
{
padding-top:40px;
border-radius: 109px 109px 112px 109px;
-moz-border-radius: 109px 109px 112px 109px;
-webkit-border-radius: 109px 109px 112px 109px;
border: 11px solid #380700;
background-color:green;
width:60%;
padding-bottom:40px;
float:right;

}
#punkty
{
text-align:center;
padding-top:20px;
padding-bottom:20px;
padding-left:15px;
border: 55%px solid #71758a;
width:35%;
background-color:#003300;


}
.ka
{
height:70px;
width:45px;
float:left;
}

p 
{

}

p{color:white;}
#punkciki{
margin-left:auto;
margin-right:auto;
padding:10px;
text-align:center;
width:150px;
background-color:black;
color:red;
font-size:22px;
margin-bottom:10px;
}

#wynik{
margin-left:auto;
margin-right:auto;
padding:10px;
text-align:center;
width:150px;
background-color:black;
color:red;
font-size:22px;
min-height:32px;
margin-bottom:10px;
}
#wynikkom{
margin-left:auto;
margin-right:auto;
padding:10px;
text-align:center;
width:150px;
background-color:black;
color:red;
font-size:22px;
min-height:32px;
margin-bottom:10px;
}
.kwota{

padding:10px;
text-align:center;
margin-bottom:10px;
margin-right:10px;
margin-top:15px;
float:left;
padding:3px;
background-color:silver;
border-radius:3px;
}
.kwota1{
margin-left:auto;
margin-right:auto;
text-align:center;
padding:3px;
background-color:silver;
border-radius:3px;
color:black;
}